<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.seckill.dao.GoodMapper">
    <select id="selectAllGood" resultType="com.learn.seckill.domain.Goods">
        select id,goods_name,goods_title,goods_img,goods_price,goods_detail,goods_stock from tb_goods
    </select>
</mapper>